/* ==========================================================================
   Init: Default
   ========================================================================== */

body {
  font-family: ff(main);
  font-weight: fw(regular);
  background-color: color(bg);
  color: color(black);
  padding-bottom: 406px;
  @include font-size(16);
  &.rm-scroll {
    overflow: hidden;
    touch-action: none;
  }
  &.hold-transition {
    *,
    *::before,
    *::after {
      transition: none !important;
    }
  }
}

h1 {
  @include font-size(64);
  font-weight: fw(semi-bold);
}

h2 {
  @include font-size(46);
  font-weight: fw(semi-bold);
}

h3 {
  @include font-size(28);
  font-weight: fw(semi-bold);
}

h4 {
  @include font-size(22);
  font-weight: fw(semi-bold);
}
